# /frontend/.env
VITE_BASE_URL=http://localhost:4000
VITE_FIREBASE_API_KEY=AIzaSyDFHz1bwIKzk7fceS3EFcI8JOW6lWlpYdw
VITE_FIREBASE_AUTH_DOMAIN=temporary-54f28.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=temporary-54f28
VITE_FIREBASE_STORAGE_BUCKET=temporary-54f28.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=492992907320
VITE_FIREBASE_APP_ID=1:492992907320:web:cf5b5440701de7efe2fecd
VITE_FIREBASE_VAPID_KEY=BIYOxUM5rwPNQ3b-M-s7aOndQvJIIlD0lb1hoOcLhR3Uo5-7zn7NZMyBVrB5ci2aDKXZ6_D7FrNU96cLh3AcfGM